<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test</title>
</head>
<body>
    <h1>
        Hey {{name}}
    </h1>
    <h3 >Your profile picture is </h3>
    <img src="{{link}}" alt="{{name}}'s profile picture'">

    <form method="GET" action="/logout">
        <button>Logout</button>
    </form>
</body>
</html>